* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e3f2fd;
}
.container {
  position: relative;
  border-radius: 8px;
  max-width: 320px;
  width: 100%;
  margin: 80px auto 30px;
}
.select-btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.select-btn .btn-text {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

.select-btn .arrow-dwn {
  height: 21px;
  width: 21px;
  background-color: #6e93f7;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: 0.3s;
}

.select-btn.open ~ .list-items {
  display: block;
}

.select-btn.open .arrow-dwn {
  transform: rotate(-180deg);
}

.list-items {
  position: relative;
  margin-top: 15px;
  background-color: #fff;
  padding: 16px;
  display: none;
}

.list-items .item {
  list-style: none;
  display: flex;
  align-items: center;
  height: 50px;
  transition: 0.3s;
  cursor: pointer;
  padding: 0 15px;
  border-radius: 8px;
}
.list-items .item:hover {
  background-color: #e7edfe;
}

.item .checkbox {
  height: 16px;
  width: 16px;
  border-radius: 4px;
  border: 1.5px solid #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
  background-color: #4070f4;
  border-color: #4070f4;
}

.checkbox .check-icon {
  font-size: 11px;
  transform: scale(0);
  color: #fff;
}

.item.checked .check-icon {
  transform: scale(1);
}
